* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../images/background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/background.jpg);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: auto;
  min-height: 100vh;
  position: relative;
}

@media (max-width: 1000px) {
  .container {
    width: 95%;
  }
}

.container p,
.container li {
  font-size: 1.2rem;
}

.container .search-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
  width: 100%;
}

.container .search-card h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  .container .search-card h1 {
    font-size: 3rem;
  }
}

.container .search-card .search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  .container .search-card .search-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .search-card .search-div #search {
  width: 40%;
  border-radius: 5px;
  margin-right: 1rem;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  color: #fff;
  border: 0;
  padding: 17px 25px 16px;
  font-size: 1.125rem;
}

.container .search-card .search-div #search:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.container .search-card .search-div #search:focus {
  outline: none;
}

@media (max-width: 1000px) {
  .container .search-card .search-div #search {
    width: 90%;
    margin-right: 0;
  }
}

.container .search-card .search-div #submit {
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 17px 50px 16px;
  font-size: 1.125rem;
}

.container .search-card .search-div #submit:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

@media (max-width: 1000px) {
  .container .search-card .search-div #submit {
    margin-top: 10px;
  }
}

.container .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 3.5rem;
}

.container .content .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 40%;
  margin: 1rem;
  border-radius: 5px;
  padding: 2rem;
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
}

.container .content .card h1 {
  text-align: center;
}

.container .content .card img {
  margin: 2rem 0;
}

@media (max-width: 1000px) {
  .container .content .card img {
    width: 100%;
  }
}

.container .content .card .content-div {
  width: 100%;
}

.container .content .card .content-div span {
  font-weight: bold;
}

.container .content .card .content-div .diet-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.container .content .card .content-div .diet-div p {
  margin-right: 5px;
}

.container .content .card .content-div .health-div__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .content .card .content-div .health-div__items p {
  padding: 0.5px 0 5px 0.1rem;
}

.container .content .card .content-div .health-div__items .health-label {
  padding-left: 0.5rem;
}

.container .content .card .ingredients-div {
  width: 100%;
  margin: 2rem 0 5rem;
  padding-left: 1rem;
}

.container .content .card .ingredients-div ul {
  margin: 2rem 0;
}

.container .content .card .ingredients-div ul li {
  list-style-type: none;
}

.container .content .card .ingredients-div ul li:before {
  content: '\1F944';
  margin-left: -20px;
  margin-right: 10px;
}

.container .content .card .ingredients-div summary {
  font-size: 1.5rem;
  cursor: pointer;
}

.container .content .card .recipe-btn {
  position: absolute;
  bottom: 1rem;
  padding: 17px 50px 16px;
  font-size: 1.125rem;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}

.container .content .card .recipe-btn:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  cursor: pointer;
}

.container .content .card .recipe-btn a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1000px) {
  .container .content .card {
    width: 100%;
    margin: 1rem 0;
  }
}

.container .content .insert-error {
  color: #ff0033;
  text-align: center;
}

@media (max-width: 1000px) {
  .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.middle {
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */