* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.custom-btn {
  font-family: "Montserrat", sans-serif;
  border-radius: 0.375rem;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  background-color: #aa6c6c;
  color: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.custom-btn:hover {
  cursor: pointer;
  background-color: #a05d5d;
}

.page {
  background-image: linear-gradient(to right, #f2f1e9, #fcf2dc);
}
.page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  min-height: 100vh;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (max-width: 992px) {
  .page .container {
    width: 90%;
  }
}
.page .container .search-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 0 0 5px 5px;
  margin-bottom: 3rem;
  color: #373a3c;
}
.page .container .search-card h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #aa6c6c;
  text-align: center;
}
@media (max-width: 576px) {
  .page .container .search-card h1 {
    font-size: 3rem;
  }
}
.page .container .search-card .search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .page .container .search-card .search-div {
    display: flex;
    flex-direction: column;
  }
}
.page .container .search-card .search-div #search {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.page .container .search-card .search-div #search:focus {
  outline: none;
}
@media (max-width: 992px) {
  .page .container .search-card .search-div #search {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .page .container .search-card .search-div #search {
    width: 100%;
    margin-right: 0;
  }
}
.page .container .search-card .search-div #submit {
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .page .container .search-card .search-div #submit {
    margin-top: 1rem;
    width: 50%;
  }
}
@media (max-width: 576px) {
  .page .container .search-card .search-div #submit {
    width: 100%;
  }
}
.page .container .search-card .insert-error {
  color: #eb3d34;
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
  text-transform: uppercase;
}
.page .container .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .page .container .content {
    flex-direction: column;
  }
}
.page .container .content .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem auto;
  border-radius: 0.375rem;
  padding: 2rem;
  background: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
  .page .container .content .card {
    width: 100%;
    margin: 1rem 0;
  }
}
.page .container .content .card h2 {
  text-align: center;
  color: #aa6c6c;
  font-size: 2rem;
}
@media (max-width: 576px) {
  .page .container .content .card h2 {
    font-size: 1.5rem;
  }
}
.page .container .content .card .card-content {
  display: flex;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .page .container .content .card .card-content {
    flex-direction: column;
  }
}
.page .container .content .card .card-content .image-div {
  display: flex;
  justify-content: center;
  align-items: start;
}
.page .container .content .card .card-content .image-div img {
  margin: 0 2rem 2rem 0;
  border-radius: 0.375rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
  .page .container .content .card .card-content .image-div img {
    margin: 0 0 2rem;
  }
}
@media (max-width: 576px) {
  .page .container .content .card .card-content .image-div img {
    width: 100%;
  }
}
.page .container .content .card .card-content .content-div {
  width: 100%;
}
.page .container .content .card .card-content .content-div p span {
  font-weight: bold;
  text-transform: uppercase;
  color: #aa6c6c;
}
.page .container .content .card .card-content .content-div .diet-div {
  display: flex;
  margin: 1rem 0;
}
.page .container .content .card .card-content .content-div .diet-div .label {
  padding-left: 0.5rem;
}
.page .container .content .card .card-content .content-div .health-div__items {
  display: flex;
  flex-wrap: wrap;
}
.page .container .content .card .card-content .content-div .health-div__items .label {
  padding-left: 0.5rem;
}
.page .container .content .card .card-content .ingredients-div {
  margin: 1rem 0 2rem;
}
.page .container .content .card .card-content .ingredients-div__items {
  display: flex;
  flex-wrap: wrap;
}
.page .container .content .card .card-content .ingredients-div__items p span {
  font-weight: bold;
  text-transform: uppercase;
  color: #aa6c6c;
}
.page .container .content .card .card-content .ingredients-div__items .label {
  padding-left: 0.5rem;
}
.page .container .content .card .card-content .view-recipe-div {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.page .container .content .card .card-content .view-recipe-div .recipe-btn a {
  text-decoration: none;
  color: #FFFFFF;
}

.middle {
  height: 100vh;
}

.back-to-top-div {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.back-to-top-div a {
  color: rgb(33, 37, 41);
  text-underline-offset: 5px;
  text-transform: capitalize;
}
.back-to-top-div a:hover {
  color: #aa6c6c;
}

footer {
  height: 3rem;
  color: #aa6c6c;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}/*# sourceMappingURL=style.css.map */