@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// mobile responsive mixins

@mixin small {
    @media (max-width: $small) {
        @content;
    }
}

@mixin medium {
    @media (max-width: $medium) {
        @content;
    }
}

@mixin large {
    @media (max-width: $large) {
        @content;
    }
}
