// colors variables
$primary-color: #f2f1e9;
$secondary-color: #aa6c6c;
$third-color: #fcf2dc;
$error-color: #eb3d34;
$white-color: #FFFFFF;
$black-color: rgb(33,37,41);

// mobile responsive variable
$small: 576px;
$medium: 768px;
$large: 992px;
