@import './resets';
@import './variables';
@import './mixins';

body {
    // background: $secondary-color;
    color: $primary-color;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),  url(../images/background.jpg);
}

.container {
    @include flexCenter;

    width: 80%;
    margin: auto;
    min-height: 100vh;
    position: relative;

    @include mobile {
        width: 95%;
    }
    p,
    li {
        font-size: 1.2rem;
    }

    .search-card {

        @include flexCenter;
        margin: 2rem 0;
        width: 100%;

        h1 {
            font-size: 5rem;
            margin-bottom: 1rem;

            @include mobile {
                font-size: 3rem;
            }
        }

        .search-div {

            @include flexCenter;
            flex-direction: row;
            width: 100%;
            margin-top: 1rem;

            @include mobile {
                display: flex;
                flex-direction: column;
            }

            #search {
                width: 40%;
                border-radius: 5px;
                margin-right: 1rem;
                background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
                color: $primary-color;
                border: 0;
                padding: 17px 25px 16px;
                font-size: 1.125rem;

                &:hover {
                    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
                }

                &:focus {
                    outline: none;
                }

                @include mobile {
                    width: 90%;
                    margin-right: 0;
                }
                
            }
        
            #submit {
                border-radius: 5px;
                background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
                border: 0;
                color: $primary-color;
                text-transform: uppercase;
                padding: 17px 50px 16px;
                font-size: 1.125rem;

                &:hover {
                    cursor: pointer;
                    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
                }

                @include mobile {
                    margin-top: 10px;
                }
            }
        }

    }


    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 3.5rem;
    
        .card {
            @include flexCenter;
        
            justify-content: flex-start;
            width: 40%;
            margin: 1rem;
            border-radius: 5px;
            padding: 2rem;
            position: relative;
            background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));


            h1 {
                text-align: center;
            }
    
            img {
                margin: 2rem 0;

                @include mobile {
                    width: 100%;
                }
            }
    
            .content-div {
    
                width: 100%;
    
                span {
                    font-weight: bold;
                }
    
                .diet-div {
                    display: flex;
                    margin: 1rem 0;

                    p {
                        margin-right: 5px;
                    }
                }
        
                .health-div {
        
                    &__items {
                        display: flex;
                        flex-wrap: wrap;

                        p {
                            padding: 0.5px 0 5px 0.1rem;
                        }

                        .health-label {
                            padding-left: 0.5rem;
                        }
                    }
                }
            }
    
    
            .ingredients-div {
                width: 100%;
                margin: 2rem 0 5rem;
                padding-left: 1rem;
    
                ul {
                    margin: 2rem 0;

                    li {
                        list-style-type: none;
                    }

                    li:before { 
                        content: '\1F944'; margin-left: -20px; margin-right: 10px; 
                    }
                }

                summary {
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }
    
            .recipe-btn {
                position: absolute;
                bottom: 1rem;
                padding: 17px 50px 16px;
                font-size: 1.125rem;
                border-radius: 5px;
                border: 0;
                margin-bottom: 1rem;
                text-transform: uppercase;
                background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    
                &:hover {
                    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
                    cursor: pointer;

                }
    
                a {
                    text-decoration: none;
                    color: black;
                }
            }

            @include mobile {
                width: 100%;
                margin: 1rem 0;
            }
        }

        .insert-error {
            color: $error-color;
            text-align: center;
        }

        @include mobile {
            flex-direction: column;
        }
    }
}

.middle {
    height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    color: #fff;
}
