@import './resets';
@import './variables';
@import './mixins';

body {
    font-family: 'Karla', sans-serif;
}

.custom-btn {
    border-radius: 0.375rem;
    border: 0;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    background-color: $secondary-color;
    color: $white-color;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    &:hover {
        cursor: pointer;
        background-color: darken($secondary-color, 5%);
    }
}

.page {
    background-image: linear-gradient(to right, $primary-color, $third-color);

    .container {
        @include flexCenter;
    
        width: 80%;
        margin: auto;
        min-height: 100vh;
        position: relative;
        padding-top: 3rem;
        padding-bottom: 3rem;
    
        @include large {
            width: 90%;
        }

        p,
        li {
            font-size: 1.2rem;
        }
    
        .search-card {   
            @include flexCenter;

            width: 100%;
            border-radius: 0 0 5px 5px;
            margin-bottom: 3rem;
            color: #373a3c;
    
            h1 {
                font-size: 5rem;
                margin-bottom: 1rem;
                color: $secondary-color;
    
                @include medium {
                    font-size: 4rem;
                }

                @include small {
                    font-size: 3rem
                }
            }
    
            .search-div {
                @include flexCenter;

                flex-direction: row;
                width: 100%;
                margin-top: 1rem;
    
                @include medium {
                    display: flex;
                    flex-direction: column;
                }
    
                #search {
                    width: 50%;
                    margin-right: 1rem;
                    padding: 1rem 2rem;
                    font-size: 1.125rem;
                    border-radius: 0.375rem;
                    border: none;
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    
                    &:focus {
                        outline: none;
                    }

                    @include large {
                        width: 70%;
                    }
    
                    @include medium {
                        width: 100%;
                        margin-right: 0;
                    }                    
                }
            
                #submit {  
                    @include medium {
                        margin-top: 1rem;
                        width: 50%;
                    }

                    @include small {
                        width: 100%;
                    }
                }  
            }
    
            .insert-error {
                color: $error-color;
                text-align: center;
                padding-top: 25px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }   
    
        .content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            @include medium {
                flex-direction: column;
            }
        
            .card {
                @include flexCenter;
            
                justify-content: flex-start;
                width: 47%;
                margin: 1rem auto;
                border-radius: 0.375rem;
                padding: 2rem;
                background: $white-color;
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

                @include medium {
                    width: 100%;
                    margin: 1rem 0;
                }
    
                h2 {
                    text-align: center;
                    color: $secondary-color;
                }
        
                img {
                    margin: 2rem 0;
                    border-radius: 0.375rem;
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    
                    @include small {
                        width: 100%;
                    }
                }
        
                .content-div {       
                    width: 100%;
        
                    p {
                        color: $black-color;

                        span {
                            font-weight: bold;
                            text-transform: uppercase;
                            color: $secondary-color;
                        }
                    }
        
                    .diet-div {
                        display: flex;
                        margin: 1rem 0;
    
                        p {
                            margin-right: 5px;
                        }
                    }
            
                    .health-div {
            
                        &__items {
                            display: flex;
                            flex-wrap: wrap;
    
                            p {
                                padding: 0.5px 0 5px 0.1rem;
                            }
    
                            .health-label {
                                padding-left: 0.5rem;
                            }
                        }
                    }
                }       
        
                .ingredients-div {
                    width: 100%;
                    height: 100%;
                    margin: 2rem 0;
                    display: flex;
                    align-items: end;
        
                    ul {
                        padding: 1rem 3rem;
                        margin: 0 -2rem;
    
                        li {
                            list-style-type: none;
                        }
    
                        li:before { 
                            content: '\1F944'; margin-left: -20px; margin-right: 10px; 
                        }
                    }
    
                    summary {
                        font-size: 1.2rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        cursor: pointer;
                        color: $secondary-color;
                    }
                }

                .view-recipe-div {
                    width: 100%;
                    display: flex;
                    align-items: end;
                    justify-content: center;

                    .recipe-btn {
                        a {
                            text-decoration: none;
                            color: $white-color;
                        }
                    }
                }
            }
        }
    }
}

.middle {
    height: 100vh;
}

.back-to-top-div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    a {
        color: $black-color;
        text-underline-offset: 5px;
        text-transform: capitalize;

        &:hover {
            color: $secondary-color;
        }
    }
}

footer {
    height: 3rem;
    color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}
